# logs and symlinks
rholog.txt
rholog-*
sim-*
*.localstorage
*.log
*.cache

# build output
bin/
public/api/generated/
rhomobile/rhosimulator/*
.cbc
rhomobile/public/save.txt
rhomobile/public/firsttime.txt
*/build.yml
*/rhoapi-modules.js
