
<script type="text/javascript" charset="utf-8" src="/public/customjs/connexionTester.js"></script>
  
  <div data-role="body" id="page">
  
     <%= render :partial => "/partials/page_head_index" %></>
     <%= render :partial => "/partials/page_foot_index" %></>
     
     <ion-view >
     <div class="MenuAcc" >
     
       <div class="col col-50" align="center">
       <a href="<%= url_for :controller => :ParcoursPredef, :action => :parcours_predef %>">
        <img class="ImgAccPre">
        </a>
        </div>
        
       <div class="col col-50" align="center">
        <a href="<%= url_for :controller => :SousCategories, :action => :sous_categories %>" onclick="init()">
        <img class = "ImgAccPer">
        </a>
        </div>

        
        </div>
        </ion-view>
      
        
  </div>

<script type="text/javascript" charset="utf-8" src="/public/customjs/api.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/customjs/accueil.js"></script>
