<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
  </head>

  <body>

    <div id="page">
      <h1>Parcours Personnalise par tags</h1>

      <div class="toolbar">
        <div class="leftItem regularButton">

        </div>
        <div class="rightItem regularButton">

        </div>
      </div>

      <div class="content">
        <ul>
          <% @personalisees.each do |personalisee| %>
          <li>
            <a href="<%= url_for :action => :show, :id => personalisee.object%>">
              <span class="title"><%= personalisee.language%>
              </span>
              <span class="disclosure-indicator"></span>
            </a>
          </li>
          <%end%>
        </ul>
      </div>

      <div class="content" data-role="content">
        <h3> Qu&#39est-ce que vous cherchez aujhourd&#39hui </h3>
        <form id="mon-form" method="post" action="<%= url_for :action => :create %>">
          <div data-role="fieldcontain">
            <!--<label for="rech-tags">Rechercher categories :</label> -->
            <input type="search" name="rech-tags" id="rech-tags" />
          </div>
        </form>
        <form method="post" action="<%= url_for :action => :requette %>">
          <input type="hidden" name="req" value="spec" />
          <input type="hidden" name="format" value="json" />
          <!-- data-role added to the listview -->

          <br />
          <button type="submit" data-theme="a" name="submit" value="submit-value"
            class="ui-btn-hidden">Creer parcours</button>
        </form>
      </div>
    </div>
  </body>
</html>