<div id="parcours_predef" name="<%=$typeparcours %>" ></div>
<script src="/public/customjs/detailsCommerce.js"></script>
<script src="/public/customjs/geoloc.js"></script>
<script src="/public/customjs/homebtn.js"></script>
<script src="/public/customjs/personalisee.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH29PQrmm9ch8eukMibX7WHU6YQaXo7HY&signed_in=true&callback=initialize" async defer></script>
<div id="map" style=" position:absolute;top:0;left:0;width: 100%;height: 100%;color:black;background-color:white;"></div>