<!DOCTYPE html>
<html>
<head>
 <style>
#map {
    position:absolute;
    top:0;
    left:0;
      width: 100%;
      height: 100%;
      color:black;
    }
 </style>

<script src="/public/customjs/detailsCommerce.js"></script>
<script src="/public/customjs/choixParcours.js"></script>

<script src="/public/js/rhogeolocation.js"></script>

 <script>
 
 var waypointsArray =[];
 var i = 0;
 var lat=0;
 var lng = 0;
 var markerArray = [];
 var infowindowArray = [];
   var L = [];
   
  function initialize() {    
    var magasins=[];
    for (var i = 0 ; i < sessionStorage.length ; i++) {
        var magasin = JSON.parse(sessionStorage.getItem(i));
        var image = {url:localStorage.getItem("sscatimg"+magasin[0]),
          size: new google.maps.Size(32, 32),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(16, 16)
        };         
        magasins.push({"image":image,"latitude":magasin[4],"longitude":magasin[5],"name":magasin[3],"id":magasin[2]});
      }

     var directionsService = new google.maps.DirectionsService;
     var directionsDisplay = new google.maps.DirectionsRenderer;
     var mapCanvas = document.getElementById('map');
     var position;
   
   
     var mapOptions = {
       center: new google.maps.LatLng(48.112739, -1.681489),
       zoom: 15,
       mapTypeId: google.maps.MapTypeId.ROADMAP
     }
     var map = new google.maps.Map(mapCanvas, mapOptions);

     //Comment to test on rhosimulator
     userMarker = new google.maps.Marker({
            position: {lat: userlat, lng: userlong},
            map: map,
            icon: "http://rpoch.istic.univ-rennes1.fr/static/images/googlePos.png"
          });
          
          window.setInterval(function()
          {
            userMarker.setPosition({lat: userlat, lng: userlong});
           },2000); 
     //Comment to test on rhosimulator
     var infowindow = new google.maps.InfoWindow();
     for(i=0;i<magasins.length;i++)
     {
               lat = magasins[i].latitude;
               lng = magasins[i].longitude;
               if(i!=0&&i!=magasins.length-1)
                 {waypointsArray.push({
                                    location:new google.maps.LatLng(lat, lng),
                                    stopover:false
                                  }); 
                 }      
                 var marker =new google.maps.Marker({
                                      position: new google.maps.LatLng(magasins[i].latitude, magasins[i].longitude),
                                      map: map,
                                      icon: magasins[i].image
                                      });   
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                          
                          infowindow.setContent(magasins[i].name+'<div id="marker" name="'+magasins[i].id+'" ><button>information</button></div>');
                          infowindow.open(map, marker);
                          $("#marker").find("button").on("click",function(e){
                            sessionStorage.setItem("currentMagasin",magasins[i].id);
                
                            //window.location.replace("/app/DetailsCommerce/details_commerce");
                            afficheSpecificationMagasin();
                          });
                        }
                      })(marker, i));
                 //attachMessage(marker, magasins[i].name);
};
    
    if(magasins.length>1)
     { var request = {
       origin:new google.maps.LatLng(magasins[0].latitude,magasins[0].longitude),
           /*FIXME si le parcours a moins de deux points l'application va planter*/
         destination:new google.maps.LatLng(magasins[magasins.length-1].latitude,magasins[magasins.length-1].longitude),
         optimizeWaypoints: true,
         waypoints: waypointsArray,
         travelMode: google.maps.TravelMode.WALKING
       };
       directionsService.route(request, function(result, status) {
         if (status == google.maps.DirectionsStatus.OK) {
           directionsDisplay.setDirections(result);
         }
       });
         directionsDisplay.setMap(map);
       directionsDisplay.setOptions( { suppressMarkers: true } );  }  }  

   </script>
</head>
<body>

<geolongitude style="opacity:0;"></geolongitude>
<geolocation style="opacity:0;"></geolocation>
<geolatitude style="opacity:0;"></geolatitude>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcpbC-OR2Xbq5JcUAOaDrEgoOGxN5St9w&signed_in=true&callback=initialize"
 async defer></script>  <div id="map"></div>
 

<script src="/public/customjs/geoloc.js"></script>
</body>
</html>