<script type="text/javascript" charset="utf-8" src="/public/customjs/connexionTester.js"></script>

<div id="page" date-role="page">
    <%= render :partial => "/partials/page_head_index" %>

     <div id="page_descriptionPredef" style="height:auto;padding-bottom:70px">
    
      <h2 style="text-align: center" id="nompage" class="nomParcours" >
        Parcours 
      </h2>
     
      <div id="image" align="center" onclick="javascript:location.href='/app/Personalisee/requette_etudiant?type_parcours=<%=$typeparcours %>'">
      <img class = "ImgBtnCartePredef "/>
        <img  class = "ImgBtnCarteBlancPredef "/>
                  
      <div class="TxtParcoursPerso2" text="carte"></div>       
    </div>
    <script>
          function animateBtnCarte() {
            $('.ImgBtnCarteBlancPredef').animate({'opacity': 1},1250).animate({'opacity': 0},1250);
            $('.ImgBtnCartePredef').animate({'opacity': 0},1250).animate({'opacity': 1},1250, animateBtnCarte);; 
            $('.TxtParcoursPerso2 ').animate({'color': 'white'},1250).animate({'color': '#008B87'},1250);
          } 
          animateBtnCarte()
     </script>
    
      <table align="center" id="liste_magasins">
                
        <tbody>
        </tbody>
        
      </table>
        <%= render :partial => "/partials/page_foot_index" %>         
      </div>
</div>     

      <script src="/public/customjs/api.js"></script>
      <script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
      <script src="/public/customjs/detailsCommerce.js"></script>
      <script>
        var predefs = api.getAllPredef();
        var adresseImg = "";
        var parcoursChoisi = "<%= $typeparcours %>";
        var data = api.getPredef(parcoursChoisi);
        var i = 0;
        var magasins_size = data.size;
        var magasin_nom;

        //récupération de l\'image associé au parcours sur le serveur
        //Pour l\'instant l'image récupérée est la même que celle utilisée pour décrire le parcours sur parcours_predef
        $("table").before('<div><p align="center" class="description">'+data.description+'</p></div>');
       
        adresseImg = "http://rpoch.istic.univ-rennes1.fr/static/images/" +data.image; 

        //affichage de l'image et de la description
        //  $("table").append('<div align="left" class="ImgParcoursPredef"><img src="'+adresseImg+'" alt="image" style="height :150px"></div>')
        
        //Nom du parcours
        switch(localStorage.getItem(0)){
          case "fr": $("#nompage").text("Parcours "+data.fr); break;
          case "en": $("#nompage").text("Course "+data.en); break;
          case "de": $("#nompage").text("Curso "+data.de); break;
          case "esp": $("#nompage").text("Kurs "+data.esp); break;
        }
        
        //liste des magasins du parcours 
        i=0;
        if(magasins_size > 0)
          {
            while (i < magasins_size){
              magasin_nom = data.magasins[i].enseigne;
              // on attache les magasins à la liste
              $("tbody").append('<tr class="detailButton" name='+data.magasins[i].id+'><td class="listeItem">'+magasin_nom.toUpperCase()+'</td><td><a ><img class= "ImgBtnInfo" ></img></a></td></tr>');
              i++;
            }
            $('tr.detailButton').each(function() {
                 $(this).on('click',function(e){
                    sessionStorage.setItem("currentMagasin", $(this).attr('name'));
                     afficheSpecificationMagasin();
                 });
            });
          }
          else
          {
            $("tbody").append('<tr><td>Parcours pas encore disponible, revenez bientot !<br><a style="text-align:center;text-decoration:none;box-shadow:none;" href="/app/ParcoursPredef/parcours_predef">Retour</a></td></tr>');
          }
        
      </script>
     

