<div id="page" date-role="page">
    <%= render :partial => "/partials/page_head_index" %>

     <div id="page_descriptionPredef" style="height:auto;padding-bottom:70px">
    
      <h2 style="text-align: center" id="nompage" class="nomParcours" >
        Parcours 
      </h2>
      <div id="clickToContinue"><img src="/public/images/arrow.png" /></div>
  <div id="image" align="center" onclick="javascript:location.href='/app/Personalisee/requette_etudiant?type_parcours=<%=$typeparcours %>'">
      <img class = "ImgBtnCarte "/>
        <div class="TxtParcoursPerso" text="carte"></div>       
    </div>
      <table align="center" id="liste_magasins">
                
        <tbody>
        </tbody>
        
      </table>
        <%= render :partial => "/partials/page_foot_index" %>         
      </div>
</div>     

      <script src="/public/customjs/api.js"></script>
      <script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
      <script src="/public/customjs/detailsCommerce.js"></script>
      <script>
        var predefs = api.getAllPredef();
        var adresseImg = "";
        var parcoursChoisi = "<%= $typeparcours %>";
        var data = api.getPredef(parcoursChoisi);
        var i = 0;
        var magasins_size = data.size;
        var magasin_nom;
        var id;

        //récupération de l'image associé au parcours sur le serveur
        //Pour l'instant l'image récupérée est la même que celle utilisée pour décrire le parcours sur parcours_predef

        while (i < predefs.size && adresseImg == "") {              
          if (predefs.parcourspredefs[i].name == parcoursChoisi) {   
            adresseImg = "http://rpoch.istic.univ-rennes1.fr/static/images/" +predefs.parcourspredefs[i].image; 
            id = i;
          }
          else {
            i++;
          }
        }
        //affichage de l'image et de la description
        //  $("table").append('<div align="left" class="ImgParcoursPredef"><img src="'+adresseImg+'" alt="image" style="height :150px"></div>')
        $("table").before('<div><p align="center" class="description">'+predefs.parcourspredefs[id].description+'</p></div>');
        //Nom du parcours
        switch(localStorage.getItem(0)){
          case "fr": $("#nompage").text(predefs.parcourspredefs[id].fr); break;
          case "en": $("#nompage").text(predefs.parcourspredefs[id].en); break;
          case "de": $("#nompage").text(predefs.parcourspredefs[id].de); break;
          case "esp": $("#nompage").text(predefs.parcourspredefs[id].esp); break;
        }
        
        //liste des magasins du parcours 
        i=0;
        if(magasins_size > 0)
          {
            while (i < magasins_size){
              magasin_nom = data.magasins[i].enseigne;
              // on attache les magasins à la liste
              $("tbody").append('<tr class="detailButton" name='+predefs.parcourspredefs[id].commerces[i]+'><td class="listeItem">'+magasin_nom.toUpperCase()+'</td><td><a ><img class= "ImgBtnInfo" ></img></a></td></tr>');
              i++;
            }
            $('tr.detailButton').each(function() {
                 $(this).on('click',function(e){
                    sessionStorage.setItem("currentMagasin", $(this).attr('name'));
                     afficheSpecificationMagasin();
                 });
            });
          }
          else
          {
            $("tbody").append('<tr><td>Parcours pas encore disponible, revenez bientot !<br><a style="text-align:center;text-decoration:none;box-shadow:none;" href="/app/ParcoursPredef/parcours_predef">Retour</a></td></tr>');
          }
        
      </script>
      <script>
      
      
        function animateArrow() {
         
            $('#clickToContinue').animate({'margin-left':'-100px', 'opacity':'0'},2000).animate({'margin-left':'-60px', 'opacity':'0.8'},2000, animateArrow); 
         
        }
        
        animateArrow()
      
      </script>

