#loaderDescr
{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
	top:0;
	margin:0;
	padding:0;
	z-index:1000;
}
#loaderDescr img
{
	position:absolute;
	width:24px;
	height:24px;
	top:50%;
	margin-top:-12px;
	left:50%;
	margin-left:-12px;
}

#pageSpec
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding:0;
	height:auto;
	background-color:white;
}

/* La Box du TOP */

#topSpec
{
	position:relative;
	float:left;
	top:0; 
	left:0;
	width:100%;
	height:230px;
}

#topSpec #cadreImg
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#cadreImg img
{
	width:100%;
	height:100%;
}
#topSpec #sscat
{
	position:absolute;
	width:100%;
	height:50px;
	text-align:center;
	bottom:0px;	
	margin-bottom:-25px;
}
#sscat img
{
	width:50px;
	height:50px;
}
/* Box au MIDDLE  */
#midSpec
{
	position:relative;
	float:left;
	margin-top:25px;
	width:100%;
	height:auto;
	top:10px;
}
#midSpec .titre
{
	width:100%;
	text-align:center;
	font-family:Rennes;
	color:black;
	font-size:30px;
}
#midSpec .addresse
{
	width:100%;
	text-align:center;
	font-family:Arial;
	color:black;
	font-size:12px;
}
#midSpec .bordureBot
{
	position:relative;
	float:left;
	width:50px;
	top:10px;
	height:2px;
	left:50%;
	margin-left:-25px;
	background-color:#008B87;
}

#midSpec .description
{
	position:relative;
	float:left;
	color:black;
	height:auto;
	font-family:descriptif;
	font-size:18px;
	margin-top:30px;
	padding-left:15px;
	padding-right:15px;
	line-height:18px;
}

/* Le box du BOTTOM */

#botSpec
{
	width:90%;
	left:5%;
	position:relative;
	float:left;
	height:180px;
	background-color:#008B87;
	margin-top:40px;
	padding-top:10px;
	font-family:sscat;
}

#botSpec .horaires
{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	height:auto;
	color:white;
}

#botSpec .bordureBot
{
	position:relative;
	float:left;
	width:50px;
	height:2px;
	margin-top:10px;
	left:50%;
	margin-left:-25px;
	background-color:white;
}

#botSpec .telephone
{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	margin-top:10px;
	height:auto;
	color:white;
}
.telephone img
{
	width:20px;
	height:20px;
	margin-top:5px;
}

#botSpec .website
{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	margin-top:10px;
	height:auto;
	color:white;
}

#botSpec .socialNetworks
{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	margin-top:10px;
	height:auto;
	color:white;
}
.socialNetworks img
{
	width:40px;
	height:40px;
	margin-left:10px;
	border-radius:20px;
	background-color:white;
}
#close
{
	position:absolute;
	width:20px;
	height:20px;
	top:240px;
	right:10px;
	background-image:url("/public/images/svg/fermer.svg");
	z-index:999;
}