@font-face {
    font-family: tradFont;
    src: url('/public/fonts/tradfont-webfont.woff2') format('woff2'),
         url('/public/fonts/tradfont-webfont.woff') format('woff'),
         url("/public/fonts/tradFont.otf") format('truetype');
}
@font-face {
    font-family: Rennes;
    src: url('/public/fonts/rennes-webfont.woff2') format('woff2'),
         url('/public/fonts/rennes-webfont.woff') format('woff'),
         url("/public/fonts/Rennes.otf") format('truetype');
    
}
@font-face {
    font-family: sscat;
    src: url('/public/fonts/caviardreamsbold-webfont.woff2') format('woff2'),
         url('/public/fonts/caviardreamsbold-webfont.woff') format('woff'),
         url("/public/fonts/CaviarDreamsBold.otf") format('truetype');
    
}
@font-face {
    font-family: descriptif; 
    src: url('/public/fonts/caviardreams-webfont.woff2') format('woff2'),
         url('/public/fonts/caviardreams-webfont.woff') format('woff'),
         url("/public/fonts/CaviarDreams.ttf") format('truetype');
}

html,body
{
	text-shadow:none;
}

body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.credits
{
	background-color:white;
	color:black;
	height:120%;
}

.credits #reals
{
	position:absolute;
	top:70px;

}

#bouton_reglage {
    background: rgb(255,165,57); /*orange*/
    color:black;
    text-shadow:none;
}

.ui-btn-right {
    width: auto;
}

 .ui-btn-inner, #lang {
    color:black;
	text-shadow: none; /*ios*/
}

.ui-select{
margin-left: 0px
}
.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
padding-right: 0px;
}

@media all and (min-width: 320px){
	label.ui-select { display: inline-block;  width: 20%;  margin: 0 2% 0 0; }
	.ui-select { width: 19%; display: inline-block; }
}	

.ui-btn-up-a{font-weight:700;color:#fff;background-image:n;background-image:-moz-linear-gradient(#444,#2d2d2d);background-image:-ms-linear-gradient(#444,#2d2d2d);background-image:-o-linear-gradient(#444,#2d2d2d);background-image:linear-gradient(#444,#2d2d2d)}

.ui-icon{
display:none;
}

#header {
	position:fixed;
	top:0;
    height: 50px;
    background-image: url("/public/images/header_plain.png");
    background-repeat: no-repeat;
    background-color:grey;
    background-position: center;
    background-size: cover; 
    border: none;
    border-bottom:1px solid grey;
}

#header #homeBtn
{
	position:absolute;
	left:50%;
	margin-left:-25px;
	width:50px;
	height:50px;
	
}
.ImgAccPer{
	content:url("/public/images/parcours_perso_fr.png");
        width: 80%;
        height:50%;
        
}
.TxtParcoursPredef{
	color:white;
	font-family:sscat;
	position:relative;
    width:auto;
    bottom:60px;
    padding:0;
    text-shadow:none;
    
}
.ImgAccPre{
	content:url("/public/images/parcours_predef_fr.png");
        width: 80%; 
        height: 50%;
        margin-left: auto;
        margin-right: auto;
}
.TxtParcoursPerso{
	color:#008b87;
	font-family:sscat;
	position:relative;
    width:auto;
    bottom:60px;
    padding:0;
    text-shadow:none;
}
.listeItem{
	font-family:sscat;
	text-shadow:none;
}
.MenuAcc{
    width: 90%;
    height: 70%;
    position: absolute;
    left:5%;
    align:center;
    border: none;
    top:60px;
    overflow:hidden;
}
.item
{
	position:relative;
	margin-top:15px;
	width:100%;
	top:10px;
	height:50px;
	color:black;
	font-family:sscat;
	font-size:19px;
	text-align:center;
}


#warningWindow
{
	position:fixed;
	width:90%;
	height:60px;
	left:2%;
	background-color:#f1734e;
	background-opacity:0.6;
	border-radius:10px;
	text-shadow:none;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	text-decoration:none;
	box-shadow: 1px 3px 15px black;
}

.activgeo
{
	position:relative;
	display:inline-block;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
}


.Pannier{
    position:absolute;
    width:auto;
    height:30px;
    display:table-cell;
    top:7px;
    right:7px;
    padding:0;
}
.Pannier #animationPlus
{
	position:absolute;
	height:100%;
	width:auto;
	bottom:0;
	left:0;
	margin-left:-20px;
	font-family:Rennes;
	font-size:40px;
	color:black;
}
.Pannier img
{
	position:relative;
	float:left;
}
span#nb_magasins
{
	position:relative;
	float:left;
	color:black;
	font-size:30px;
	font-family:Rennes;
	margin:0;
	padding:0;
	height:100%;
	bottom:10px;
}

.ImgAjoutMag{
    content:url("/public/images/votre_parcours_fr.png");
    width:150px;
}

.ImgBtnCarte{
   content:url("/public/images/carte_btn_fr.png");
   width:150px;
}
.placementCarte{
	position:relative;
	left: 50px;
}
.ImgBtnInfo{
	content:url("/public/images/svg/oeil.svg");
	width:30px;
}
.ImgBtnRemplacer{
	content:url("/public/images/svg/actualiser.svg");
	width:30px;
}
.ImgBtnSupprimer{
	content:url("/public/images/svg/fermer.svg");
	width:20px;
}


.param{
	position: relative;
	left: 2%;
	overflow: hidden;
}
.slider{
	background-color: #008B87;
	width: 90%;
}
.description{
font-family:descriptif;
    text-shadow:none;
}

.nomParcours{
    font-family: tradFont;
    text-shadow:none;
   	font-size:36px;	
    
}

#fpouter
{
    width:100%;
    text-align: center;
    margin:auto;
    background-color:white;
}
.fpinner
{
    display: inline-block;
    height:auto;
    width:auto;
    background-color:white;

}


#footer {
    background-color: #F6F7F6;
    position:fixed;
    background-image:none;
    text-shadow:none;
    width: 100%;
    height:59px;
    border: none;
    margin:0;
    padding:0;
    border-top:1px solid grey;
    bottom:0;
}
#footer a {
	position:relative;
	float:left;
	width:19%;
	height:52px;
	overflow:hidden;
	margin:0;
	padding:0;
	margin-left:1%;
	border-radius:10px;
}

#footer a img{
	position:absolute;
	left:0;
	top:0;
	width:40%;
	height:60%;
	top:20%;
	left:25%;
}

#grisement{
	position:fixed;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:20;
}

.languageSelect{
	position:fixed;
	width:150px;
	height:auto;
	background-color:white;
	border-bottom:2px solid #008B87;
	z-index:21;
	right:45px;
}
.languageSelect .elem{
	position:relative;
	margin-top:15px;
	width:100%;
	top:10px;
	height:50px;
	color:black;
	font-family:tradFont;
	font-size:19px;
	text-align:center;
}
.languageSelect .elem .bordureBottom{
	position:absolute;
	height:2px;
	bottom:10px;
	width:20px;
	left:50%;
	margin-left:-10px;
	background-color:#008B87;
}



/*Ceci concerne l'affichage KDR des parcours predefinis ------------------------------------*/

#topPredef {
	position: relative;
	width: 100%;
	height: 180px;
	background-image:url("/public/images/RpochTXT.png");
	background-repeat: no-repeat;
    background-color:white;
    background-position: center;
    background-size: cover; 
    border: none;
    overflow:hidden;
	top: 0px;
	left: 0;
	margin:0;
	padding:0;
}

#containerPredef{
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	z-index:0;
	background-color:white;
	padding-bottom:150px;
}

#containerPredef .elem{
	position:relative;
	float:left;
	width:50%;
	min-height:201px;
	height:50%;
	background-color:white;
	margin-top:15px;
}
#containerPredef .elem .container{
	position:relative;
	width:70%;
	height:100%;
	left:15%;
}
#containerPredef .elem .container img
{
	position:relative;
	width:60%;
	left:20%;
	top:10%;
	height:auto;
	margin:0;
	padding:0;
}

#containerPredef .elem .container span
{
	position:relative;
	font-family: Rennes;
	font-size:36px;	
	color:black;
	left:20%;
	top:10px;
	top:-10px;
}
#containerPredef .elem .container .nom
{
	position:relative;
	font-family: tradFont;
	width:100%;
	text-align:center;
	font-size:25px;	
	color:black;
	left:0;
	margin-left:0;
	top:-20px;
}
#containerPredef .elem .container div.bordure
{
	position:relative;
	width:40%;
	left:30%;
	height:2px;
	background-color:#008B87;
	margin-top:-15px;

}

#containerPredef .elem .bordureDroite
{
	position:absolute;
	margin:0;
	top:0;
	padding:0;
	height:70%;
	margin-top:15%;
	width:1px;
	right:0;
	background-color:LightGrey;
}

#containerPredef .elem .bordureBottom
{
	position:absolute;
	width:70%;
	margin-left:15%;
	height:1px;
	bottom:0;
	background-color:LightGrey;
}

/*Fin des parcours predefinis */

h1 {
    color:white;
    text-shadow:none;
}

h2 {
    margin-top: 20%;
    font-size: 1.2em;
}

.ui-collapsible-set { /*decalage bloc du haut*/
    margin-top:60px;
}

.ui-collapsible-set .ui-collapsible-inset { /*separation des categories*/
    margin: 10px;
}

.ui-collapsible-heading { /*arrondi de la categorie*/
    border-radius: 30px;
}

.ui-collapsible-heading-toggle { /*mise en forme bouton deroulant*/
    color: rgb(68,52,52);
    text-shadow:none;
    background: rgb(255,165,57);
    margin: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    border: none;
    font-weight: normal;
}

.ui-collapsible-content .ui-listview{ /*ensemble des sous categories*/
    box-shadow:none;
}

.ui-listview .ui-btn{ /*fond bouton !!!*/
    border:none;
    margin:5px;
    background:rgb(247,247,247);
}

.ui-listview .ui-btn-inner { /*separation des sous categories*/
    background: rgb(68,52,52);
    border-radius: 30px;
}

.ui-listview .ui-btn-text a{ /*mise en forme liste*/
    color:white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    text-shadow:none;
}

#titre{
    color:rgb(68,52,52);
    margin-top: 70px;
    text-align: center;
    font-weight: normal;
}

#page{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:white;
}

#page_descriptionPredef{
    color:black;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:white;
}

#menu li {
    list-style-type: none;
    margin-top:70px;
}

#parcours li {
    list-style-type: none;
    margin-top:70px;
}

#menu img{
    width: 100px;
    height: 60px;
}

#parcours img{
    width: 100px;
    height: 60px;
}


.lien {
    position: relative;
    top: -20px;
    color:rgb(68,52,52);
    text-shadow: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

#boutonsParcours {
display: table-row;
}



#example{
    border: 1px solid black;
    width:100%;
    margin: 30px 0px 20px 0px;
    border-collapse: collapse;
}

#example th {
    border: 1px solid black;
    color: black;
    font-weight: normal;
}

#example tr {
    text-align: center;
}

#example td {
    color: black;
}

td .ui-btn {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 30px;
    border: 3px solid white;
}

td .ui-btn .ui-btn-text {
    color: white;
    text-shadow: none;
    font-weight: bold;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:#f5f5f5
}


.listSsCatText{
	color:black;
	text-decoration:none;
	drop-shadow:none;
}

/* css additionnel pour le parours personalisÃ©*/
#navmenu {
    display: table;
}

.active.categorie {
    
    color: #fff;
}

.categorie {
    color: #666;
    text-shadow: none;
    /*background: #fff;*/
    background: inherit;
    font-family: 'Open Sans', Arial, sans-serif;
    border: none;
    font-weight: normal;
    /*display: table-cell;*/
    display: inline-table;
    margin: 3px;
    width: 48%;
    height: inherit;
    position:relative;
}

.collapsible-cat-container {
    display: table-row;
    /*display: table !important;
    padding-bottom: 10px;
    width: 100%;*/
    
}

.categorie .bordureDroite
{
	position:absolute;
	margin:0;
	top:0;
	margin-top:15%;
	margin-right:-5px;
	padding:0;
	height:70%;
	width:1px;
	right:0;
	background-color:LightGrey;
}

.categorie .bordureBottom
{
	position:absolute;
	width:70%;
	margin-left:15%;
	height:1px;
	bottom:0;
	background-color:LightGrey;
}


.collapsible-cat-container.active {
    display: table-row;
}

.listSsCat {
    display: none;
}

.active .listSsCat {
    display: block;
}

ul.listSsCat  > li {
    list-style: none;
    background: inherit;
    padding-bottom: 3px;
    height: 2em;
    margin: .2em 2em;
    color: #BBB;
    text-align:center;
    border-radius:10px;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 4px 2.5em;
    display: block;
}
.ui-body-c .ui-link {
    color: #2489CE;
    font-weight: bold;
}

ul.listSsCat  > li > a {
    padding: 0px 0.5em;
}

ul.active {
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

ul.listSsCat > li > span {
    padding-left: 1em;
    color: black;
    font-family:sscat;
    padding-top: 4px;
    position: relative;
}

.cat-title {
    display: block;
    text-align: center;
    font-family:Rennes;
    color:black;
    font-size:30px;
    line-height:30px;
}

.categorie > h3 {
    height: inherit;
    margin: 0;
    padding: 0;
}

.categorie > h3 > img {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 3%;
}

div.large-list-elem.collapsible-cat-container > .categorie {
    width: 98%;
    margin-bottom: 20px;
}

div.large-list-elem > div > div.after-cat  {
    background: inherit;
}

.after-cat {
    width: 80%;
    height: 1px;
    background: gray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div.after-first-elem{
    width: 1px;
    background: gray;
    position: relative;
    display: inline-table;
    border: none;
}

.large-list-elem .after-first-elem {
    background: inherit;
}

/* La barre de recherche   */
#searchbar{
	position:fixed;
	left:50%;
	margin-left:-140px;
	width:280px;
	bottom:60px;
	height:50px;
	background-color:white;
	border-bottom:2px solid #008B87;
	z-index:21; /* le #grisement est à 20 */
}
#searchbar span{
	position:absolute;
	width:70%;
	left:15%;
	font-family:Rennes;
	margin-top:2px;
	border:none;
	text-align:center;
	font-size:26px;
}
#searchbar input, .searchbar{
	all:inherit;
	width:100%;
	border:none;
	font-family:descriptif;
	outline: none;
	text-align:center;
	font-size:20px;
	background-color:white;
	border:none;
	box-shadow:none;
	border-radius:0;
	border-bottom:2px solid #008B87;
}
#parametres
{
	position:fixed;
	width:220px;
	height:250px;
	border-bottom:2px solid #008B87;
	right:0;
	bottom:60px;
	background-color:white;
	z-index:22;
}
#parametres .imgTop
{
	position:relative;
	top:20px;
	width:90%;
	left:6%;
	height:100px;
	background-image: url("/public/images/rpochParameters.png");
	background-size:cover;
	margin-bottom:40px; 
}
#parametres .elem
{
	position:relative;
	float:left;
	width:100%;
	height:30px;
	text-align:center;
	text-decoration:none;
	color:black;
	font-family:sscat;

}


#clickToContinue
{
	position:absolute;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
	top:165px;
	left:50%;
	margin-left:-60px;
	opacity:0.8;
}

#clickToContinue img
{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}


#searchResult
{
	position:fixed;
	width:100%;
	height:100px;
	background-color:white;
	top:52px;
	z-index:30;
}
#searchResult table
{
	width:100%;
	height:100%;

}
#searchResult table td
{
	border: 1px solid black;
	height:20px;
	padding:0;
	margin:0;
	font-size:15px;
	font-family:descriptif;
}











