body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#bouton_reglage {
    background: rgb(255,165,57); /*orange*/
    color:black;
    text-shadow:none;
}

.ui-btn-right {
    width: 90px;
}

 .ui-btn-inner, #lang {
    color:black;
	text-shadow: none; /*ios*/
}

.ui-select{
margin-left: 0px
}
.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
padding-right: 0px;
}

@media all and (min-width: 320px){
	label.ui-select { display: inline-block;  width: 20%;  margin: 0 2% 0 0; }
	.ui-select { width: 19%; display: inline-block; }
}	

.ui-btn-up-a{font-weight:700;color:#fff;text-shadow:0 1px 0 #111;background-image:n;background-image:-moz-linear-gradient(#444,#2d2d2d);background-image:-ms-linear-gradient(#444,#2d2d2d);background-image:-o-linear-gradient(#444,#2d2d2d);background-image:linear-gradient(#444,#2d2d2d)}

.ui-icon{
display:none;
}

#header {
    height: 40px;
    background-image: url("/app/header_plain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border: none;
}

.ImgAccPer{
	content:url("/app/parcours_perso_fr.png");
        width: auto;
        height:50%;
        margin-left: auto;
        margin-right: auto;
}

.ImgAccPre{
	content:url("/app/parcours_predef_fr.png");
        width: auto; 
        height: 50%;
        margin-left: auto;
        margin-right: auto;
}

.MenuAcc{
    width: 100%;
    height: 75%;
    padding-top: 40px;
    padding-bottom: 90px;
    position: relative;
    align:center;
    border: none;
}

#footer {
    background: rgb(255,255,255);
    background-image:none;
    text-shadow:none;
    width: 100%;
    border: none;
}



.footerimg1{
     content:url("/app/footer_button_1.png");
    width: 19%;
}

.footerimg2{
     content:url("/app/footer_button_2.png");
    width: 19%;
    
}

.footerimg3{
     content:url("/app/footer_button_3.png");
    width: 19%;
}



.footerimg4 {
    content:url("/app/footer_button_4.png");
     width: 100%;
}


.footerimg5{
     content:url("/app/footer_button_5.png");
     width: 19%;
}

h1 {
    color:white;
    text-shadow:none;
}

h2 {
    margin-top: 20%;
    font-size: 1.2em;
}

.ui-collapsible-set { /*decalage bloc du haut*/
    margin-top:60px;
}

.ui-collapsible-set .ui-collapsible-inset { /*separation des categories*/
    margin: 10px;
}

.ui-collapsible-heading { /*arrondi de la categorie*/
    border-radius: 30px;
}

.ui-collapsible-heading-toggle { /*mise en forme bouton deroulant*/
    color: rgb(68,52,52);
    text-shadow:none;
    background: rgb(255,165,57);
    margin: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    border: none;
    font-weight: normal;
}

.ui-collapsible-content .ui-listview{ /*ensemble des sous categories*/
    box-shadow:none;
}

.ui-listview .ui-btn{ /*fond bouton !!!*/
    border:none;
    margin:5px;
    background:rgb(247,247,247);
}

.ui-listview .ui-btn-inner { /*separation des sous categories*/
    background: rgb(68,52,52);
    border-radius: 30px;
}

.ui-listview .ui-btn-text a{ /*mise en forme liste*/
    color:white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    text-shadow:none;
}

#titre{
    color:rgb(68,52,52);
    margin-top: 70px;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
}

#page{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgb(247,247,247); /*fond clair*/
}

#page_descriptionPredef{
    color:black;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgb(247,247,247); /*fond clair*/
}

#menu li {
    list-style-type: none;
    margin-top:70px;
}

#parcours li {
    list-style-type: none;
    margin-top:70px;
}

#menu img{
    width: 100px;
    height: 60px;
}

#parcours img{
    width: 100px;
    height: 60px;
}


.lien {
    position: relative;
    top: -20px;
    color:rgb(68,52,52);
    text-shadow: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

#boutonsParcours .ui-btn {
    background: rgb(68,52,52);
    border-radius: 30px;
    border: none;
}

#boutonsParcours .ui-btn .ui-btn-text {
    color:white;
    text-shadow: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
}

#example{
    border: 1px solid black;
    width:100%;
    margin: 60px 0px 60px 0px;
    border-collapse: collapse;
}

#example th {
    border: 1px solid black;
    color: black;
    font-weight: normal;
}

#example tr {
    text-align: center;
}

#example td {
    color: black;
}

td .ui-btn {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 30px;
    border: 3px solid white;
}

td .ui-btn .ui-btn-text {
    color: white;
    text-shadow: none;
    font-weight: bold;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:#f5f5f5
}








/*Import des polices d'ecriture
pour les utiliser (exemple avec Playlist small-caps)
font-family: Playlist;
font-variant: small-caps;
*/
@font-face {
    font-family: Playlist;
    font-variant: normal;
    src: url('../fonts/PlaylistScript.otf');
}

@font-face {
    font-family: Playlist;
    font-variant: small-caps;
    src: url('../fonts/PlaylistScript.otf');
}

@font-face {
    font-family: CaviarDreams;
    font-variant: normal;
    src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: CaviarDreams;
    font-weight: bold;
    src: url('../fonts/CaviarDreamsBold.ttf');
}

@font-face {
    font-family: MinionProRegular;
    font-variant: normal;
    src: url('../fonts/MinionProRegular.otf');
}

@font-face {
    font-family: HelveticaNeue;
    font-variant: normal;
    src: url('../fonts/HelveticaNeue.ttf');
}

/* css additionnel pour le parours personalisé*/
#navmenu {
    display: table;
}

.active.categorie {
    background: #048B9a;
    color: #fff;
}

.categorie {
    color: #666;
    text-shadow: none;
    /*background: #fff;*/
    background: inherit;
    font-family: 'Open Sans', Arial, sans-serif;
    border: none;
    font-weight: normal;
    /*display: table-cell;*/
    display: inline-table;
    margin: 3px;
    width: 48%;
    height: inherit;
}

.collapsible-cat-container {
    display: table-row;
    /*display: table !important;
    padding-bottom: 10px;
    width: 100%;*/
}
.collapsible-cat-container.active {
    display: table-row;
}

.listSsCat {
    display: none;
}

.active .listSsCat {
    display: block;
}

ul.listSsCat  > li {
    list-style: none;
    background: inherit;
    border: 0 solid #888;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    height: 2em;
    margin: .2em 2em;
    color: #BBB;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 4px 2.5em;
    display: block;
}
.ui-body-c .ui-link {
    color: #2489CE;
    font-weight: bold;
}

ul.listSsCat  > li > a {
    padding: 0px 0.5em;
}

ul.active {
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

ul.listSsCat > li > span {
    padding-left: 1em;
    color: #048B9a;
    padding-top: 4px;
    position: absolute;
}

.cat-title {
    display: block;
    text-align: center;
}

.categorie > h3 {
    height: inherit;
    margin: 0;
    padding: 0;
}

.categorie > h3 > img {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 3%;
}

div.large-list-elem.collapsible-cat-container > .categorie {
    width: 98%;
    margin-bottom: 20px;
}

div.large-list-elem > div > div.after-cat  {
    background: inherit;
}

.after-cat {
    width: 80%;
    height: 1px;
    background: gray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div.after-first-elem{
    width: 1px;
    background: gray;
    position: relative;
    display: inline-table;
    border: none;
}

.large-list-elem .after-first-elem {
    background: inherit;
}
