<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="rhogenwizard.launcher.rhodesApp">
<stringAttribute key="aemuname" value=""/>
<stringAttribute key="aversion" value="4.4.2"/>
<stringAttribute key="build" value="local"/>
<booleanAttribute key="clean" value="true"/>
<stringAttribute key="ipversion" value="iphone"/>
<stringAttribute key="platform" value="android"/>
<stringAttribute key="project_name" value="rhomobile"/>
<booleanAttribute key="rebuild" value="false"/>
<booleanAttribute key="trace" value="true"/>
<stringAttribute key="type_symulator" value="device"/>
</launchConfiguration>
