<h1>Flux de visites</h1><span></span>



<div id="map" style="width:200px;height:200px" ></div>



<script src="/static/js/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH29PQrmm9ch8eukMibX7WHU6YQaXo7HY&signed_in=true&callback=initialize" async defer></script>
<script>
	//Affichage de la Google maps avec les points de parcours


var map;

function initialize()
{
	//diminution du header pour la page
	$("h1").css("height", "30px");
	$(".container").css("margin-bottom", "0px");
	$(".container").css("margin-top", "0px");

	//Modification de la taille de la carte
	var newH = $(window).height() - $(".container").height() - 130;
	$("#map").css("width", $(document).width() + "px");
	$("#map").css("position", "absolute");
	$("#map").css("left", "0");
	$("#map").css("margin-left", "0");
	$("#map").css("height", newH + "px");

	//Initialisation de la map
	map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: 48.112739, lng: -1.681489},
		zoom: 12
	});

	
	//Recuperation + affichage des statistiques
	// ATTENTION: ne jamais utiliser 'raw' et 'html_safe' de rails: c'est de la merde
	//Un petit parse fait maison fait largement l'affaire
	var donnees = '<%=  @allStats.to_s %>';
	donnees = donnees.replace(/&quot;/g, '"');
	donnees = JSON.parse(donnees);

	var i = 0;

	console.log(donnees);

	//Ajout des Google Markers 
	var size = 24;
	var imageIcon = {
		url: "https://rpoch.istic.univ-rennes1.fr/static/images/circle_red.png",
		scaledSize: new google.maps.Size(size, size),
		size: new google.maps.Size(size, size), 
		origin: new google.maps.Point(0,0),
		anchor: new google.maps.Point (size/2, size/2)
		
	}

	var max = '<%=  @maximum.to_s %>';
	max = Number(max.replace(/&quot;/g, '"'));
	
	var infos = '<%=  @detailsMagasins.to_s %>';
	infos = infos.replace(/&quot;/g, '"');
	infos = JSON.parse(infos);
	prev = ""
	k = 0
	var nb = Object.keys(infos).length;
	while(i < nb)
	{
		var latlng = {lat: donnees[k].vp_ne_lat, lng: donnees[k].vp_ne_lng};
		var currentId = donnees[k].id;
		
		var marker = new google.maps.Marker({
			position: latlng,
			map: map,
			title: donnees[k].enseigne+" : "+infos[currentId]+" visites",
			animation: google.maps.Animation.DROP,
			icon: imageIcon	
		});
		
		k += infos[currentId];
		var opacity =  Number(infos[currentId] / max);
		//alert(opacity)
		marker.setOptions({'opacity':opacity});
		
		i++;	
	}

	$("span").html("Repartition des utilisateurs dans Rennes pour "+k+" statistiques (pour "+nb+" magasins).");

	
}












</script>
