<li><%= button_to "Mes Commerces", current_user,
        method: :get, class: 'btn btn-primary'%></li>
<li><%= button_to "Deconnexion", logout_path,
    method: :delete, class: 'btn btn-primary'%></li>
