<!--<h1>Welcome#index</h1>-->

<h1>Mais tu fou quuuuuoi ?</h1>
La requete doit manquer d'un &format=json :), sinon tu ne serai probablement pas ici...<br/><br/><br/>
<!-- Utiliser @y si besoin pour recuperer la variable  -->
