<div id="page" data-role="page" data-url="<%= Rho::Application.startURI %>/">
<%= render :partial => "/partials/page_head_index"  %>

    <div data-role="content">
        <%= render :file => "Accueil/accueil.erb"  %>
        <div id="path" name="main"></div>
    </div>
<%= render :partial => "/partials/page_foot_index" %>
 
  
</div>
