<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    <div id="page">
<!-- <p>Hello World!</p> -->
      
      <!-- l'ip du champ action est l'adresse IP sur serveur RAILS -->
      
<!--<form action="http://192.168.0.36:3000/" method="GET" data-remote="true">
        <input type="text" value="3" name="value" />
        <input type="submit" value="se Connecter" />
      </form>-->
      <table>
      <tr>
      <button type="button" >Vetements</button> 
      <button type="button">Restauration</button>
</tr>
<tr>
      <button type="button">Technologie</button>
      <button type="button">Culturel</button>
</tr>
<tr>    
      <button type="button">Mobilier</button>
      <button type="button">Service</button>
</tr>
<tr>
      <button type="button">Logement</button>
      <button type="button">Vendeur specialise</button>
</tr>
<tr>
      <button type="button">Medical</button>
      <button type="button">Autre</button>
</tr>
      </table>
      <div id="results">
        
      </div>
    </div>

</div>

<script src="/public/customjs/main.js"></script>