

<div data-role="footer" data-position = "fixed">
<div data-role="navbar">
<ul>
<li><a href="loading.html">Help</a></li>
<li><a href="loading.html">Change language</a></li>
</ul>
</div><!--  /navbar  -->
</div><!--  /footer  -->
<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    <div id="page">
      <ol data-role="listview" data-filter="true">
      <li data-role="list-divider">A</li>
      <li><img src=coffeshops_330_220.png height=50 align="middle"/><h3>A Restaurant</h3></li>
      <li><img src=coffeshops_330_220.png height=50 align="middle"/><h3>A Vetements</h3></li>
      <li data-role="list-divider">B</li>
      <li><img src=coffeshops_330_220.png height=50 align="middle"/><h3>B Boulangeries</h3></li>
      <li data-role="list-divider">C</li>
      <li><img src=coffeshops_330_220.png height=50 align="middle"/><h3>C restaurant</h3></li>
      <li data-role="list-divider">D</li>
      <li><img src=coffeshops_330_220.png height=50 align="middle"/><h3>D restaurant</h3></li>
      <li data-role="list-divider">E</li>
      <li><img src=coffeshops_330_220.png height=50 align="middle"/><h3>E restaurant</h3></li>
      </ol>
      <!-- l'ip du champ action est l'adresse IP sur serveur RAILS -->
      
<!--<form action="http://192.168.0.36:3000/" method="GET" data-remote="true">
        <input type="text" value="3" name="value" />
        <input type="submit" value="se Connecter" />
      </form>-->

      <div id="results">
        
      </div>
    </div>

</div>

<script src="/public/customjs/main.js"></script>
