<div data-role="page" class="credits">
    
  
  
  <%= render :partial => "/partials/page_head_index"  %>

  <div id="widget01">
      <span>La distance maximale &agrave; parcourir &agrave; pieds (km)</span><br/><br/>
      <div id="distMax">
        <div id="slider" style="display: inline-block; width: 300px; height: 20px;"></div>
        <div id="value" style="display: inline-block;"></div>
      </div>
  </div>

    <%= render :partial => "/partials/page_foot_index" %>
    
   
    
</div>
  <script src="/public/customjs/params.js"></script>
