<div data-role="page" class="credits">
    
  <%= render :partial => "/partials/page_head_index"  %>

  
  
  <input id= "slider" type="range" min="0" max="50" step="1" />
  
 
  
  <%= render :partial => "/partials/page_foot_index" %>
    
   
    
</div>
<script src="/public/customjs/parametres.js"></script>