<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <script src="/public/customjs/api.js"></script>
  </head>

  <body>
    <%= render :partial => "/partials/page_head" %></>

     <div id="page">
    
      <h2 id="titre">
       Parcours <%=$typeparcours %>
      </h2>
    
      <ul id = "liste_magasins">
        <!-- la liste des magasins, voir le script plus bas  -->
       </ul>
       
       <!-- boutton pour afficher la map -->
       <input type="button" value="Affichage de la carte" onclick="javascript:location.href='/app/ParcoursPredef/requette_etudiant?type_parcours=<%=$typeparcours %>'">

      
   
      </div>
      
<script>

var predefs = api.getAllPredef();
var adresseImg = ""

var parcoursChoisi = "<%=$typeparcours %>";
var data = api.getPredef(parcoursChoisi);
var i = 0;
var magasins_size = data.size;
var magasin_nom;

              //récupération de l'image associé au parcours sur le serveur
              //Pour l'instant l'image récupérée est la même que celle utilisée pour décrire le parcours sur parcours_predef
                    
                       while (i < predefs.size && adresseImg == "") {
                      
                         if (predefs.parcourspredefs[i].name == parcoursChoisi) {   
                         adresseImg = "http://rpoch.istic.univ-rennes1.fr/static/images/" +predefs.parcourspredefs[i].image; 
                       }
                       else {
                         i++;
                       }
                      }
               //affichage de l'image et de la description
                      $("ul").before('<div style="text-align: center"><img src="'+adresseImg+'" alt="image"> <FONT color="black"><p> Blablabla, ceci est la presentation du parcours. </p></FONT></div>');
                     
                      
               //liste des magasins du parcours 
                     i=0;
                     while (i < magasins_size)
                     {
                     magasin_nom = data.magasins[i].enseigne;
                     // on attache les magasins à la liste
                     $("ul").append('<FONT color="black"><li>'+magasin_nom+'</li></FONT>');
                     i++;
                     }
      </script>
      
      
     
  

<script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>

  </body>
</html>