<!DOCTYPE html>
<html> 
<head> 
<style>
  html,body{
    overflow:hidden;
    width:100%;
    height:100%;
  }
    #map {
    position:absolute;
    top:0;
    left:0;
      width: 100%;
      height: 100%;
      color:black;
      
    }
</style>

 
<script src="/public/customjs/api.js"></script>
<script src="/public/customjs/detailsCommerce.js"></script>
<script src="/public/customjs/choixParcours.js"></script>
<script>
if(navigator.geolocation) {
    
 userlat = 0.0;
 userlong = 0.0;
  
  window.setInterval(getPos, 3000);
  var infopos = "Position déterminée :\n";
    infopos += "Latitude : "+position.coords.latitude +"\n";
    infopos += "Longitude: "+position.coords.longitude+"\n";
    infopos += "Altitude : "+position.coords.altitude +"\n";
    alert(infopos);
  
} else {
  // Pas de support, proposer une alternative ?
  userlat = 48.111232;
  userlong = -1.678671;
  
}

function getPos()
{
    userlat = position.coords.latitude;
    userlong = position.coords.longitude;
}

</script>


  <script type="text/javascript">
  //initialize();
      function initialize() {
      
      $("#pageSpec").hide(200);  
        
      var locations = [];
      
      //On récupère le nom du parcours predefinis (il est caché dans la page dans le nom d une div ;) ). On fait appel à la requete traditionnelle. 
      
      var parcoursChoisi = $("#parcours_predef").attr("name"); 
      var data = api.getPredef(parcoursChoisi);
      
                      var i = 0;
                      var magasins_size = data.size;
                      
                      while (i < magasins_size)
                      {
                          locations.push([data.magasins[i].enseigne+"  "+i, data.magasins[i].location_lat,data.magasins[i].location_lng, i+1, data.magasins[i].id]);
                          i++;
                      }
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(48.112739, -1.681489),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
     
    for (i = 0; i < locations.length; i++) {
      var ipath= findCatSubCat(locations[i][4]);
      var image = {url:getImagePath(ipath.subcat,ipath.cat),
          size: new google.maps.Size(32, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(16, 16)
        };
      marker = new google.maps.Marker({
        icon: image,
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]+'<div id="marker" name="'+locations[i][4]+'" ><button>information</button></div>');
          infowindow.open(map, marker);
          $("#marker").find("button").on("click",function(e){
            sessionStorage.setItem("currentMagasin",locations[i][4]);

            //window.location.replace("/app/DetailsCommerce/details_commerce");
            afficheSpecificationMagasin();
          });
        }
      })(marker, i));
      }
      
userMarker = new google.maps.Marker({
     position: {lat: userlat, lng: userlong},
     map: map,
     icon: "http://rpoch.istic.univ-rennes1.fr/static/images/googlePos.png"
   });
   
   window.setInterval(function()
   {
     userMarker.setPosition({lat: userlat, lng: userlong});
    },2000); 
}
  </script>
  
</head> 
<body>
        
        <div id="parcours_predef" name="<%=$typeparcours %>" ></div>     
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcpbC-OR2Xbq5JcUAOaDrEgoOGxN5St9w&signed_in=true&callback=initialize"
          async defer></script>
        
          <div id="map"></div>
          <geolongitude style="opacity:0;"></geolongitude>
          <geolocation style="opacity:0;"></geolocation>
          <geolatitude style="opacity:0;"></geolatitude>
          
<script src="/public/customjs/homebtn.js"></script>    
</body>
</html>
