<div id="page" data-role="page" style=" width:100%">

<%= render :partial => "/partials/page_head_index" %></>
        <div id='topPredef'></div>
        <div id="containerPredef"></div>
     
<%= render :partial => "/partials/page_foot_index" %> 
<div id="path" name="parcours_predef"></div>
<script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/customjs/parcoursPredef.js"></script>
     
</div>





