<!DOCTYPE html>
<html>
<head>
  <style>
    #map {
      width: 390px;
      height: 530px;
    }
  </style>
  <script>


  var locations = [];
  var  magasins_size = 0;
  var i = 0;
  var lat=0;
  var lng = 0;
  


    function initialize() {
      
      var data = api.getParcEtu("<%= $typeparcours %>");
      
           
                   var i = 0;
                   magasins_size = data.size;
                    
                    while (i < magasins_size)
                    {
                        //alert([data.magasins[i].enseigne, data.magasins[i].location_lat,data.magasins[i].location_lng, i+1]);
                        locations.push([data.magasins[i].enseigne+"  "+i, data.magasins[i].location_lat,data.magasins[i].location_lng, i+1]);
                        i++;
                    }
               
            
      var waypointsArray = [];
                      
      directionsService = new google.maps.DirectionsService;
      directionsDisplay = new google.maps.DirectionsRenderer;
    
      var mapCanvas = document.getElementById('map');
      
      var mapOptions = {
        center: new google.maps.LatLng(48.112739, -1.681489),
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        
      }
      
      var map = new google.maps.Map(mapCanvas, mapOptions)

            for(var i = 1; i < magasins_size - 1;i++ ){
                lat = locations[i][1];
                lng = locations[i][2];
                waypointsArray.push({
                  location:new google.maps.LatLng(lat, lng),
                  stopover:true
                });
               
        } 

      //window.alert(waypointsArray[0]);
      
      directionsDisplay.setMap(map);
      
      var request = {
          origin:new google.maps.LatLng(locations[0][1], locations[0][2]),
          destination:new google.maps.LatLng(locations[waypointsArray.length][1],locations[waypointsArray.length][2]),
          optimizeWaypoints: true,
          waypoints: waypointsArray,
          travelMode: google.maps.TravelMode.WALKING
        };
        directionsService.route(request, function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(result);
          }
        });
   }

    </script>
</head>
<body>
<! clé 1: AIzaSyBcpbC-OR2Xbq5JcUAOaDrEgoOGxN5St9w >
<! clé 2: AIzaSyB52JIODDxNvBfg-lb8ap-MycusmKIxGs0 > 
<script src="/public/customjs/api.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1QPnIpS_AFRyevXtfbSi-pxmu1GGQuEw&callback=initialize">
</script>
  <div id="map"></div>
</body>
</html>
