<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    
  </head>

  <body>
  
    <div id="page" style="overflow:hidden">
    <!--<%= render :partial => "/partials/page_head" %>-->
    
    <div id="imageCommerce">
    
    
    </div> 
    <div id="descrCommerce">
    
    <div id="contenu">
    <!-- Voir le detailsCommerce.js pour toutes les infos qui s inserent ici :) -->
    </div>
    
    
    <br/><br/> <a href='<%= url_for :controller => :FinalParcours, :action => :final_parcours %>'><img src='/public/images/backButton2.png' /></a>
    <br/><br/><br/><br/><br/><br/><br/>
    </div>
    </div>

    <script type="text/javascript" charset="utf-8" src="/public/customjs/detailsCommerce.js"></script>
  </body>
</html>


   


     
    

