<script type="text/javascript" charset="utf-8" src="/public/customjs/connexionTester.js"></script>

<div id="page" data-role="page" >

      <%= render :partial => "/partials/page_head_index" %>

      <h2 id="titre" class="nomParcours" text="votreParcours"></h2>
      <div id="nbmag" align="center" style="color:black" class="listeItem" text="magInsuffisant"></div>
      <table id="example">
              
        <tbody>
        </tbody>
        
      </table>
      
   <div class = "fpouter" style="height:250px">
       

       <div class="fpinner">
        <a href="<%= url_for :controller => :SousCategories, :action => :sous_categories %>" >
           <img class = "ImgAjoutMag"/>
           <div text="votreParcours" align="center" class= "TxtParcoursPerso"> </div>
        </a>
       </div>
       <div id="carte" class="fpinner">
       <a  onclick="afficherParcours()">
         <img  class = "ImgBtnCarte placementCarte"/>
           <div text="carte" align="center" class= "TxtParcoursPerso placementCarte"> </div>
          </a>
       </div>
   </div>
             <div id="flecheParcours"><img src="/public/images/arrowUp.png" /></div>
                
                         <script>
                                 function animateArrow() {
                                     $('#flecheParcours').animate({'margin-top':'0px', 'opacity':'0.8'},750).animate({'margin-top':'10px', 'opacity':'0'},750, animateArrow); 
                                 }
                                 animateArrow()
                         </script>

<%= render :partial => "/partials/page_foot_index" %>
</div>
  <script src="/public/customjs/api.js"></script>
  <script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
  <script src="/public/customjs/finalParcours.js"></script>
  <script src="/public/customjs/detailsCommerce.js"></script>
  

    