<script type="text/javascript" charset="utf-8" src="/public/customjs/connexionTester.js"></script>

<div id="page" data-role="page" >

      <%= render :partial => "/partials/page_head_index" %>

      <h2 id="titre" class="nomParcours" text="votreParcours"></h2>
      <div id="nbmag" align="center" style="color:black" class="listeItem" text="magInsuffisant"></div>
      <table id="example">
              
        <tbody>
        </tbody>
        
      </table>
      
   <div class = "fpouter" style="height:250px">
       

       <div class="fpinner">
        <a href="<%= url_for :controller => :SousCategories, :action => :sous_categories %>" >
           <img class = "ImgAjoutMag"/>
           <div text="votreParcours" align="center" class= "TxtParcoursPerso2 "> </div>
        </a>
       </div>
       <div id="carte" class="fpinner">
       <a  onclick="afficherParcours()">
         <img  class = "ImgBtnCarte "/>
         <img  class = "ImgBtnCarteBlanc "/>
           <div text="carte" align="center" class= "TxtParcoursPerso3 "> </div>
          </a>
       </div>
   </div>

                
                         <script>
                                 function animateBtnCarte() {
                                   $('.ImgBtnCarteBlanc').animate({'opacity': 1},1250).animate({'opacity': 0},1250);
                                   $('.ImgBtnCarte').animate({'opacity': 0},1250).animate({'opacity': 1},1250, animateBtnCarte);; 
                                   $('.TxtParcoursPerso3 ').animate({'color': 'white'},1250).animate({'color': '#008B87'},1250);
                                 } 
                                 animateBtnCarte()
                         </script>

<%= render :partial => "/partials/page_foot_index" %>
</div>
  <script src="/public/customjs/api.js"></script>
  <script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
  <script src="/public/customjs/finalParcours.js"></script>
  <script src="/public/customjs/detailsCommerce.js"></script>
  

    