
    <div id="page" data-role="page" >

      <%= render :partial => "/partials/page_head" %>

      <h2 id="titre" text="votreParcours"> </h2>
      
      <table id="example">
        <thead>
          <tr>
            <th text="magasin"></th>
            <th text="detail"></th>
            <th text="supprimer"></th>
          </tr>
        </thead>
        
        <tbody>
        </tbody>
        
      </table>
      
      <div class = "fpouter" style="height:250px">
       

       <div class="fpinner">
        <a href="<%= url_for :controller => :SousCategories, :action => :sous_categories %>" >
           <img class = "ImgAjoutMag"/>
        </a>
       </div>
       <div class="fpinner">
       <a >
         <img onclick="afficherParcours()" class = "ImgBtnCarte"/>
       </a>
       </div>
    </div>

<%= render :partial => "/partials/page_foot_index" %>
  <script src="/public/customjs/api.js"></script>
  <script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
  <script src="/public/customjs/finalParcours.js"></script>
  <script src="/public/customjs/detailsCommerce.js"></script>
  
  </div>
    