<div id="page" data-role="page" >

      <%= render :partial => "/partials/page_head_index" %>

      <h2 id="titre" text="votreParcours"> </h2>
      
      <table id="example">
              
        <tbody>
        </tbody>
        
      </table>
      
      <div class = "fpouter" style="height:250px">
       

       <div class="fpinner">
        <a href="<%= url_for :controller => :SousCategories, :action => :sous_categories %>" >
           <img class = "ImgAjoutMag"/>
           <div text="votreParcours" align="center" class= "TxtParcoursPerso"> </div>
        </a>
       </div>
       <div class="fpinner">
       <a  onclick="afficherParcours()">
         <img  class = "ImgBtnCarte"/>
           <div text="Carte" align="center" class= "TxtParcoursPerso"> </div>
       </a>
       </div>
    </div>

<%= render :partial => "/partials/page_foot_index" %>
</div>
  <script src="/public/customjs/api.js"></script>
  <script type="text/javascript" charset="utf-8" src="/public/customjs/trad.js"></script>
  <script src="/public/customjs/finalParcours.js"></script>
  <script src="/public/customjs/detailsCommerce.js"></script>
  

    