<li>
	<input type="text" value="Rechercher un magasin" name="searchbar" style="height:20px"/>
</li>

<script src="/static/js/jquery.js"></script>
<script>


var timer;
var deb;

$(document).ready(function(){

	//Preparatifs

	$('body').append("<div id='searchResults' style='position:fixed;width:400px;height:300px; right:5px; bottom:50px;background-color:white; border:1px solid black;'>Cherchez un magasin :)</div>")
	$('#searchResults').stop().hide();	
	$("html").on("click",function(event){
		if(!$(event.target).is("#searchResults")){
			$("#searchResults").stop().hide(200);	
			if($("input[name='searchbar']").val() == "")
			{
				$("input[name='searchbar']").val("Rechercher un magasin");
			}
		}
	});

	//Permet d'afficher des magasins spécifiques pour les suggestions
	//Dans la barre de recherche

	$("input[name='searchbar'").on("click",function(event){
		event.stopPropagation();
		if($(this).val() == "Rechercher un magasin") $(this).val("");	
		$("#searchResults").show(200)
		
	});



	$("input[name='searchbar'").on("input",function(){

		deb = $(this).val();
		clearInterval(timer);
		timer = setInterval('onChangeSearch()', 400);		
		
		
	});



})

function onChangeSearch()
{

	deb = deb.replace(/ +/g, ' ');
	deb = deb.replace('\'', ' ');
	var nombre = 10;

	if(deb != "")
	{

		$("#searchResults").html("");	
		var affiche = '<table style="width:100%;">';
		var isOnPredef = $("textarea[id=parcours_predefini_commerces").length;
			//Requete AJAX
			$.ajax({
				url: 'https://www.rennespoche.fr/api/?req=suggestion&format=json&deb='+deb+'&indice='+nombre,
				type: 'GET',
				dataType: 'json',
				success: function(rep)
				{
					var size = rep.size;
					var i = 0;
					for(i = 0; i < size; i++)
					{
						affiche += '<tr style="border:1px solid black; height:29px; opacity:0">';
						affiche += '<td>'+rep.magasins[i].enseigne+'</td>';
						affiche += '<td><a href="/api/bo/commerces/'+rep.magasins[i].id+'">Voir</a></td><td><a href="/api/bo/commerces/'+rep.magasins[i].id+'/edit">Editer</a> </td>';
						
						//Affichage du bouton add si on est sur les parcours predefinis
						if(isOnPredef == 1)
						{
							affiche += "<td onclick='ajouteMag(\""+rep.magasins[i].id+"\")' ><a style='cursor:pointer'>Ajouter</a></td>";
						}
						
						affiche += '</tr>';
						
						
					}
					affiche += '</table>'
					if (size == 0)
					{
						size = 1;
						affiche += '<tr style="border:1px solid black; height:29px; opacity:0"><td>Aucun magasin ne correspond...</td>';
					
					}
					$("#searchResults").stop().animate({"height": (size * 29) + "px"}, 200);
					$("#searchResults").html(affiche);
					$("#searchResults table tr").each(function(i){
						$(this).delay(i* 100).animate({"opacity":"1"}, 200);
					});
				}
				
				
				
			})
			
	}	
		
	clearInterval(timer);	
		

	
}

function ajouteMag(mag)
{
	var form = $("form textarea[id=parcours_predefini_commerces");	
	var valarea = form.val();
		
	if(valarea == "")
	{
		form.val(mag + ',\n');
	}
	else
	{
		form.val(valarea + mag + ',\n');
	}
	
	
	
	
}

</script>
