<h1>BackOffice Rennes en Poche</h1>
<p>Bienvenue commerçant. Ici vous pouvez editer votre magasin.</p>

<p>
<%
	if @welcomeMsg == "ok"
%>
<%= "Votre commerce a été parfaitement reconnu "%>
<%= link_to "Commencer", edit_back_office_path(@uuidEdition) %>
<%
	else
%>
	<%=	"pas ok" %>
<%	end %>
</p>
