<div data-role="header" data-position="fixed" id="header"> 
  <h1 text="rpoch"></h1> 
    <div class="cart">
       <a class="ui-btn-left" href="/app/FinalParcours/final_parcours" onclick="genererParcours()"><span id="nb_magasins">0</span><span text="magasin"></span></a>
    </div>
    <script src="/public/customjs/finalParcours.js"></script>
</div>
						
