<div data-position="fixed" id="header"> 
    <div class="cart">
      
       <a class="Pannier" href="/app/FinalParcours/final_parcours" onclick="genererParcours()"><img src="/public/images/svg/basket.svg"  width="32" height="32"> <span id="nb_magasins">0</span></a>
      
     </div>
    <script src="/public/customjs/finalParcours.js"></script>
</div>
						
