<div data-role="footer" data-position="fixed" id="footer"> 
    <div class = "row">
    <a name="predef" href="<%= url_for :controller => :ParcoursPredef, :action => :parcours_predef %>">
             <img src="/public/images/svg/map.svg" />
    </a>
    <a name="perso" href="<%= url_for :controller => :SousCategories, :action => :sous_categories %>">
            <img src="/public/images/svg/parcours.svg" />
    </a>
    <a name="search">
            <img src="/public/images/svg/search.svg" />
    </a>
    <a name="btn4"> 
      
            <img src="/public/images/svg/langue.svg" />
        
    </a>
    <a name="params">
            <img src="/public/images/svg/parametres.svg" />
    </a>
    </div>
</div> 
