<div data-role="header" data-position="fixed" id="header"> 
    <div class="cart">
       <label class="ui-btn-left"><span id="nb_magasins">0</span><span text="magasin"></span></label>
       <a class="ui-btn-right" href="/app/FinalParcours/final_parcours" onclick="genererParcours()"><img src="/public/images/panier.png"  width="32" height="32"></a>
    </div>
    <script src="/public/customjs/finalParcours.js"></script>
</div>
						
