<div data-role="footer" data-position="fixed" id="footer"> 
<div class = "row">
<a>
        <img src="/app/footer_button_1.png" />
</a>
<a>
        <img src="/app/footer_button_2.png" />
</a>
<a>
        <img src="/app/footer_button_3.png" />
</a>
<a name="btn4"> 
  
  <img src="/app/footer_button_4.png" />
    
</a>
<a>
        <img src="/app/footer_button_5.png" />  
</a>
</div>

</div> 
