<div data-role="footer" data-position="fixed" id="footer"> 
<div class = "row">
<a>
        <img class="footerimg1"/>
</a>
<a>
        <img class="footerimg2"/>
</a>
<a>
        <img class="footerimg3">
</a>
<a>
<select class="footerimg4" onchange="changeLanguage()" id="lang"> 
        <option value="fr" >FR </option>
        <option value="en">EN</option>
        <option value="esp">ESP</option>
        <option value="de">DE</option>
    </select>
</a>
<a>
        <img class="footerimg5">
</a>
</div>
</div> 
